In [1]:
import numpy as np
from pandas import *

In [17]:
df = read_csv('Social_Network_Ads.csv')

In [18]:
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [4]:
x = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

# Splitting the dataset into test set and training set

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2 , random_state = 0)

# Feature Scaling

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

# Training the model

In [8]:
from sklearn.neighbors import KNeighborsClassifier
classi = KNeighborsClassifier(n_neighbors = 5)
classi.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [9]:
classi.predict(sc.transform([[30,87000]]))

array([0], dtype=int64)

In [10]:
y_pred = classi.predict(x_test)

In [14]:
df1 = DataFrame({'Predicted':y_pred,'Actual':y_test})

In [16]:
df1

    Predicted  Actual
0           0       0
1           0       0
2           0       0
3           0       0
4           0       0
..        ...     ...
75          0       0
76          0       0
77          0       0
78          1       1
79          1       1

[80 rows x 2 columns]

In [13]:
from sklearn.metrics import confusion_matrix , accuracy_score
cm = confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[55  3]
 [ 1 21]]

0.95